<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div data-controller="trainings">
        <button class="activity-btn" data-action="click->trainings#displayForm" data-target="trainings.addBtn">Add an activity</button>
        <%= render '/shared/trainings/form' %>
      </div>

      <div id="trainings">
        <h3>Latest activities</h3>
        <% @trainings.each do |training| %>
          <%= render partial: '/shared/trainings/training', locals: { training: training } %>
        <% end %>
      </div>

      <div id="current-week-month">
        <button class='active-tab'>Current Week</button>
        <button>Current Month</button>
      </div>

      <div id="current-week" class="current-tabs">
        <h5>Current Week</h5>
        <p>summury of the current week</p>
      </div>

      <div id="current-month" class="current-tabs">
        <h5>Current Month</h5>
        <p>summury of the current month</p>
      </div>
    </div>
  </div>
</div>
