.add-activity-input {
  border-radius: 8px;
  border: 1px solid rgb(228, 228, 228);
  color: black;
  &:focus {
    color: black;
  }
  &::placeholder {
    color: rgb(168, 168, 168);
  }
}

.cancel-btn {
  border: 2px solid black;
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn {
  padding: 8px;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: salmon;
  transition: background-color 0.2s;
  &:hover {
    background-color: #da7166;
  }
}

.activity-btn {
  margin: 16px;
  border: none;
  background-color: skyblue;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s;
  &:hover {
    background-color: #79b7cf;
  } 
}

.activity {
  margin: 16px 0;
  padding: 16px;
  border-radius: 16px;
}

.activity-swim {
  background-color: #8791ec;
}
.activity-bike {
  background-color: #bebebe
}
.activity-run {
  background-color: #ffa2a2;
}
.activity-gym {
  background-color: #dc91ff;
}

form#new_training {
  display: none;
  margin: 30px;
}

#current-week-month {
  margin-top: 30px;
  display: flex;
  width: 100%;
  button {
    padding: 8px;
    border: none;
    background-color: #e6e6e6;
    color: black;
    width: 50%;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #d6d6d6;
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  .active-tab {
    border-bottom: 5px solid grey;
  }
}

#current-month {
  display: none;
}
