.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.column {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.card-item {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 24px;
  margin: 16px 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px #b8b8b8;
}

.add-activity-input {
  border-radius: 8px;
  border: 1px solid rgb(228, 228, 228);
  color: black;
  &:focus {
    color: black;
  }
  &::placeholder {
    color: rgb(168, 168, 168);
  }
}

.cancel-btn {
  border: 2px solid black;
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn {
  padding: 8px;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: salmon;
  transition: background-color 0.2s;
  &:hover {
    background-color: #da7166;
  }
}

.activity-btn {
  margin: 16px;
  border: none;
  background-color: skyblue;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s;
  &:hover {
    background-color: #79b7cf;
  }
  &:focus {
    outline: none;
  }
}

.delete {
  margin: 0;
  padding: 0;
  .remove-activity {
    font-size: 20px;
    color: white;
    cursor: pointer;
    &:hover {
      color: #242424;
      text-decoration: none;
    }
  }
}

.activity {
  margin: 16px 0;
  padding: 16px;
  border-radius: 16px;
}

.activity-swim {
  background-color: #8791ec;
}
.activity-bike {
  background-color: #bebebe
}
.activity-run {
  background-color: #ffa2a2;
}
.activity-gym {
  background-color: #dc91ff;
}

form#new_training {
  display: none;
  margin: 30px;
}

.current-tabs {
  .table {
    background-color: #bab3e9;
    padding: 24px 8px;
    border-radius: 0 0 16px 16px;
    .table-head-item {
      font-weight: bold;
    }
    .table-head-item, .table-body-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 50px;
    }
  }
}

#current-week-month {
  margin-top: 30px;
  display: flex;
  width: 100%;
  button {
    padding: 8px;
    border: none;
    background-color: #e6e6e6;
    color: black;
    width: 50%;
    &:focus {
      outline: none;
    }
    // &:hover {
    //   background-color: #d6d6d6;
    // }
    &:first-child {
      border-radius: 16px 16px 0 0;
    }
    &:last-child {
      border-radius: 16px 16px 0 0;
    }
  }
  .active-tab {
    background-color: #bab3e9;
  }
}

#current-month {
  display: none;
}
