<div class="table">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Trainings</th>
        <th>Time</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Swim</td>
        <td>2</td>
        <td>03:34:45</td>
        <td>2.3km</td>
      </tr>
      <tr>
        <td>Bike</td>
        <td>2</td>
        <td>03:34:45</td>
        <td>2.3km</td>
      </tr>
      <tr>
        <td>Run</td>
        <td>2</td>
        <td>03:34:45</td>
        <td>2.3km</td>
      </tr>
      <tr>
        <td>Gym</td>
        <td>2</td>
        <td>03:34:45</td>
        <td>2.3km</td>
      </tr>
      <tr>
        <td>TOTAL</td>
        <td>8</td>
        <td><%= time_week %></td>
        <td>222.3km</td>
      </tr>
    </tbody>
  </table>
</div>
